body {
    background-color: black;
    width: 95%;
    height: 1500px;
    margin: auto;
}

.header {
    display: flex;
    position: fixed;
    margin: 10px 0;
    width: 95%;
    height: 120px;
    justify-content: space-around;
    background: url('./images/starfield-banner.jpg ');
}

.header .logo {
    width:173px;
    margin:11px;
}

.header .nav {
    color: #fff;
}

.header ul {
    list-style: none;
    padding: 10px;
}

.up-nav {
    margin-top: 0;
    font-size: 19px;
    text-align: right;
}

.down-nav {
    margin-bottom: 0;
    font-size: 13px;
    text-align: center;
    background-color: #555555;
}

.header li {
    display: inline-block;
    position: relative;
    margin: 0 8px;
}

.up-nav li::after {
    content: "";
    position: absolute;
    height: 42px;
    border: 1px solid #434343;
    top: -8px;
    right: -12px;
}

.down-nav li::after {
    content: "";
    position: absolute;
    height: 20px;
    border: 1px solid #6a6a6a;
    top: -2px;
    right: -12px;
}

.search {
    position: relative;
    width:173px;
    margin:11px;
}

.search > input {
    width: 128px;
    height: 22px;
    padding: 8px;
    background-color: #333;
    border: none;
}

.icon-search {
    right: 30px;
}

.icon {
    position: absolute;
    top: 5px;
}
