body {
    background-color: black;
    width: 95%;
    height: 1500px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

.header {
    display: flex;
    position: fixed;
    padding: 10px 0;
    top: 0;
    height: 110px;
    width: 95%;
    justify-content: space-around;
    background: url('./images/starfield-banner.jpg ');
}

.header .logo {
    width: 173px;
    margin: 11px 11px 0 11px;
}

.header ul {
    list-style: none;
    padding: 10px;
}

.header .nav {
    padding-top: 5px;
}

.up-nav {
    margin-top: 0;
    font-size: 19px;
    text-align: right;
}

.down-nav {
    margin-bottom: 0;
    font-size: 13px;
    text-align: center;
    background-color: #555555;
}

.header li {
    display: inline-block;
    position: relative;
    margin: 0 8px;
}

.up-nav li::after {
    content: "";
    position: absolute;
    height: 42px;
    border: 1px solid #434343;
    top: -8px;
    right: -12px;
}

ul > li:last-child::after {
    contain: "";
    border: none;
}

.down-nav li::after {
    content: "";
    position: absolute;
    height: 20px;
    border: 1px solid #6a6a6a;
    top: -2px;
    right: -12px;
}

.search {
    position: relative;
    width: 173px;
    margin: 11px 11px 0 11px;
}

.search > input {
    width: 128px;
    height: 22px;
    padding: 8px;
    background-color: #333;
    border: none;
}

.icon {
    position: absolute;
    top: 5px;
}

.icon-search {
    right: 30px;
}

.content {
    margin-top: 110px;
}

.content .events {
    display: flex;
    height: 640px;
    background: #fff;
}  

.main-event {
    margin-right: 10px;
    flex: 1 1;
    width: 50%;
    height: 640px;
    background-image: url(./images/pia21924-16.jpg);
    background-position: 50% 50%;
}

.sub-event {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
}

.climate {
    margin-right: 10px;
    flex: 1 1 2;
    width: calc(50% - 10px);
    height: 50%;
    background-image: url(./images/mollweide_cycle.jpg);
}

.news {
    flex: 1 1 2;
    width: 50%;
    height: 50%;
    background-color: #4d7197;
}

.launch {
    margin-top: 10px;
    flex: 1 1 2;
    width: 100%;
    height: calc(50% - 10px);
    background-image: url(./images/s69-39961.jpg);
    background-size: cover;
}





