body {
    background-color: black;
    width: 95%;
    height: 1490px;
    margin: auto;
    font-family: 'Sunflower', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

.header {
    display: flex;
    position: fixed;
    padding: 10px 0;
    top: 0;
    height: 110px;
    width: 95%;
    justify-content: space-around;
    background: url('./images/starfield-banner.jpg ');
    z-index: 99;
}

.header .logo {
    width: 173px;
    margin: 11px 11px 0 11px;
}

.header ul {
    list-style: none;
    padding: 10px;
}

.header .nav {
    padding-top: 5px;
}

.up-nav {
    margin-top: 0;
    font-size: 19px;
    text-align: right;
}

.down-nav {
    margin-bottom: 0;
    font-size: 13px;
    text-align: center;
    background-color: #555555;
}

.header li {
    display: inline-block;
    position: relative;
    margin: 0 8px;
}

.up-nav li::after {
    content: "";
    position: absolute;
    height: 42px;
    border: 1px solid #434343;
    top: -8px;
    right: -12px;
}

ul > li:last-child::after {
    contain: "";
    border: none;
}

.down-nav li::after {
    content: "";
    position: absolute;
    height: 20px;
    border: 1px solid #6a6a6a;
    top: -2px;
    right: -12px;
}

.search {
    position: relative;
    width: 173px;
    margin: 11px 11px 0 11px;
}

.search > input {
    width: 128px;
    height: 22px;
    padding: 8px;
    background-color: #333;
    border: none;
}

.header .icon {
    position: absolute;
    top: 5px;
}

.icon-search {
    right: 30px;
}

.content {
    margin-top: 130px;
}

.content .events {
    display: flex;
    height: 640px;
}  

.main-event {
    position: relative;
    margin-right: 10px;
    flex: 1 1;
    width: 50%;
    height: 640px;
    background-image: url(./images/pia21924-16.jpg);
    background-position: 50% 50%;
}

.sub-event {
    display: flex;
    flex-shrink: 1;
    flex: 1 1;
    flex-wrap: wrap;
}

.climate {
    position: relative;
    margin-right: 10px;
    width: calc(50% - 10px);
    height: 50%;
    background-image: url(./images/mollweide_cycle.jpg);
}

.news {
    width: 50%;
    height: 50%;
    font-size: 13px;
    color: #fff;
    background-color: #4d7197;
}

.news-title {
    margin: 13px 13px 6px 13px;
    height: calc(11% - 14px);
    border-bottom: 1px solid #fff;
}

.news-content {
    margin: 0 6px;
    height: calc(84% - 7px);
    border-bottom: 1px solid #fff;
}

.news-content p {
    margin-top: 0;
}

.news-footer {
    height: 5%;
}

.news-footer span {
    padding: 0 4%;
}

.launch {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: calc(50% - 10px);
    background-image: url(./images/s69-39961.jpg);
    background-size: cover;
}

.figure {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* letter-spacing: -.5px; */
}

.title {
    display: inline-block;
    padding: 5px 13px;
    font-size: 15px;
    color: #fff;
    background-color: rgba(90, 113, 150, .8);
}

.detail {
    padding: 4px 0 4px 12px;
    font-size: 17px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, .8);
}

.stars, .nasa-info {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
    width: 100%;
    height: 300px;
}

.merger {
    position: relative;
    width: 24%;
    height: 100%;
    background-image: url(./images/ssc2017-14a1.jpg);
    background-position: 50% 50%;
}

.asteriods {
    position: relative;
    width: 49%;
    height: 100%;
    background-image: url(./images/pia22556-16.gif);
}

.video {
    width: 24%;
    height: 100%;
    background-color: #010217;
}

.video > video {
    outline: none;
}

.nasa-info .info {
    position: relative;
    width: 24%;
    height: 100%;
}

.statement {
    background: #212121 url(./images/nasa_logo.png) no-repeat 50% 50%;
}

.juno {
    background-image: url(./images/io-home.gif);
}

.juno > i {
    position: absolute;
    right: 0;
}

.cassini {
    background-image: url(./images/cassini20170809.jpg);
}

.telescope {
    background-image: url(./images/fermiicecube_as.jpg);
}

.story-btn {
    margin: 30px 0;
    width: 100%;
    height: 38px;
    line-height: 38px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    background-color: #244784;
}

.footer {
  height: 126px;
}

.office {
    display: inline-block;
    width: 30%;
    height: 86px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
}

.office > img {
    float: left;
}

.office .location {
    margin-left: 30px;
}

.contact {
    margin-left: 30%;
    height: 40px;
    font-size: 13px;
}

.contact > a {
    font-weight: 600;
    color: #4b5b7c;
    margin-left: 15px;
}